/* Headeruser.css */
.app-headerss {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center;
  padding: 0.10rem 0.5rem;
  width: calc(80% - 250px); /* Ajustement pour le sidebar */
  margin-left: 240px; /* Correspond à la largeur du sidebar */
  position: fixed;
  margin-top: 20px; /* Correspond à la largeur du sidebar */
  border-radius: 20px;
  z-index: 100;
  height: 40px;
}

.app-headerss .container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Largeur max pour le contenu */
}

.app-header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-logo {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-headerss h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Animation pour l'icône */
.app-logo {
  transition: transform 0.3s ease;
}

.app-logo:hover {
  transform: scale(1.1);
}